<div class="card1">
    <div class="stats-wrapper box-1">
      <p class="heading">Total Users</p>
      <div class="bottom-wrapper ">
        <p class="count">4.5</p>
      </div>
    </div>
    <div class="stats-wrapper box-2">
      <p class="heading">Total Partners</p>
      <div class="bottom-wrapper">
        
        <p class="count">1.1k</p>
      </div>
    </div>
    <div class="stats-wrapper box-3">
      <p class="heading">Total Meals</p>
      <div class="bottom-wrapper">
        
        <p class="count">2.1k</p>
      </div>
    </div>
  </div>
  